@import "tailwindcss";

@theme {
  --spacing-mContainer: 1170px; 
  --font-inter: "Inter", "sans-serif"; 
  --color-menuC: #181818; 
  --color-primary: #5956E8; 
  --color-footer:#F5EFFF;
  --color-text:#5D5D5D;
  --radius-10: 10px; 

}